body {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    min-height: 50%;
    max-height: 100%;
    font-family: "Dancing Script", cursive;
}

.containers {
    margin: 0;
    padding: 20px;
    background-color: white;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid1 {
    margin: 20px;
    margin-top: 10%;
}

h3 {
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.btn button {
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    transition: all 0.5s ease-out;
    background-color: #ffbe33;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    transform: scale(1.2);
}

.btn {
    display: flex;
    justify-content: center;
}

.grid2 .map-container {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid2 .map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

@media screen and (max-width: 1200px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .grid1 {
        margin: 10%;
    }

    .grid2 .map-container {
        height: 400px;
    }
}

@media screen and (max-width: 800px) {
    .grid1 {
        margin: 5%;
    }

    .grid2 .map-container {
        height: 350px;
    }
}

@media screen and (max-width: 600px) {
    h3 {
        font-size: 30px;
    }

    button {
        font-size: 18px;
        padding: 8px 16px;
    }

    input {
        font-size: 14px;
        padding: 8px;
    }

    .grid2 .map-container {
        height: 300px;
    }
}

@media screen and (max-width: 400px) {
    h3 {
        font-size: 25px;
    }

    button {
        font-size: 16px;
        padding: 6px 12px;
    }

    input {
        font-size: 12px;
        padding: 6px;
    }

    .grid2 .map-container {
        height: 250px;
    }
}
